body {
    place-items: center;
    background-color: bisque;
}
.entry {
    display: grid;
    place-items: center;

}

div {
    background-color: rgb(231, 189, 125);
}
.entry p {
    width: 75%;
}

h1 {
    font-size: 100px;
}